<section class="container">
    <div>
      <div class="row">
        <div *ngFor="let restaurant of theRestaurants | orderBy:'rating':true" class="col s12 m6"> 
          <div class="card">
            <div class="card-content">
              <p class="text-center"><b>{{restaurant.name}}</b></p>
              <div class="flex-box-row">
                <div class="flex-box-column">
                  <div>
                    <p><b>Contact</b></p>
                    <p><b>Email:</b> {{restaurant.contact.email}}</p>
                    <p><b>Phone:</b> {{restaurant.contact.phone}}</p>
                  </div>
                </div>
                <div class="flex-box-column">
                  <p><b>Rating</b></p>
                  <div class="btn-floating btn-large waves-effect waves-light red">{{restaurant.rating}}</div>
                </div>
              </div>
            </div>
            <div class="card-action text-center flex-box-row">
              <a class="contact-site" href={{restaurant.contact.site}}>Go to the site</a>
              <div class="fb-like facebook" data-href="https://developers.facebook.com/docs/plugins/" data-layout="standard" data-action="like" data-size="small" data-show-faces="true" data-share="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
                  
