<section>
  <div class="container">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
      <agm-circle [latitude]="lat" [longitude]="lng" [circleDraggable]="true" [radius]="radius">
          <agm-marker *ngFor="let restaurant of theRestaurants" [latitude]="restaurant.address.location.lat" [longitude]="restaurant.address.location.lng">
              <agm-info-window>
                  <p><b>{{restaurant.name}}</b></p>
                  <p><b>Rating: {{restaurant.rating}}</b></p>
              </agm-info-window>
          </agm-marker>
      </agm-circle>
    </agm-map>
    <input #newRadius type="number" (keydown.enter)="sendRadius(newRadius)" placeholder="type the radius in meters">
  </div>
  
</section>


