<section>
  <div class="container">
    <div class="row">
      <div class="col s12 m9">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
          <agm-circle (dragEnd)="mapDragEnd($event)" [latitude]="lat" [longitude]="lng" [circleDraggable]="true" [radius]="radius">
              <div *ngFor="let restaurant of insideRadius">
              <agm-marker [latitude]="restaurant.address.location.lat" [longitude]="restaurant.address.location.lng">
                  <agm-info-window>
                      <p><b>{{restaurant.name}}</b></p>
                      <p><b>Rating: {{restaurant.rating}}</b></p>
                  </agm-info-window>
              </agm-marker>
            </div>
          </agm-circle>
          
        </agm-map>
        <input #newRadius type="number" (keydown.enter)="sendRadius(newRadius)" placeholder="type the radius in meters">
      </div> 
    
    <app-statistics [theRestaurants]="insideRadius"></app-statistics>
  </div>
  </div>
</section>
<app-card [theRestaurants]="insideRadius"></app-card>

